<!DOCTYPE html>
<html>
<head>
  <title>Remove Car</title>
  <style>
    body {
      font-family: Arial, sans-serif;
      background-color: #f2f2f2;
      margin: 0;
      padding: 0;
    }
    h1 {
      background-color: #333;
      color: #fff;
      padding: 20px;
      margin: 0;
    }
    form {
      background-color: #fff;
      padding: 20px;
      margin: 20px;
      border-radius: 5px;
      box-shadow: 0px 0px 5px rgba(0, 0, 0, 0.3);
    }
    label {
      font-weight: bold;
    }
    input[type="number"], input[type="submit"] {
      padding: 5px;
      margin: 5px 0;
      border: 1px solid #ccc;
      border-radius: 3px;
      width: 100%;
    }
  </style>
</head>
<body>
  <h1>Remove Car</h1>
  <%= form_for :parkings, url: remove_car_parking_path, method: :patch do |f| %>
    <label for="spot_number">Enter Spot Number:</label>
    <%= f.number_field :spot_number %>
    <%= f.submit "Remove Car" %>
  <% end %>
</body>
</html>